{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<title>{% block title %}Tachyon {% endblock %}</title>
	<link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family-Satisfy">
	<link rel="stylesheet" type="text/css" href="{% static 'css/author.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-inverse">
		<dir class="container-fluid">

			<!-- header -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#TopNavBar">
					 <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'Books:index' %}">Tachyon</a>
			</div>

			<!-- items -->
			<div class="collapse navbar-collapse" id="TopNavBar">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="{% url 'Books:allauthors' %}">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
							Authors
						</a>
					</li>
					<li class="">
						<a href="{% url 'Books:allbooks' %}">
							<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;
							Books
						</a>
					</li>
				</ul>

				<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'Books:search' %}">
					<div class="form-group">
						<input type="text" class="form-control" name="q" value="">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="{% url 'Books:index' %}">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
							Logout
						</a>
					</li>
				</ul>

			</div>

		</dir>
	</nav>

 {% block body %}
 {% endblock %}
</body>
</html>