{% extends 'base.html' %}
{% load staticfiles %}








{% block body%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/////font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "/css/Books_page.css" %}"/>
  <link rel="stylesheet" href="{% static "/css/Droplist.css" %}"/>
<div class="book">



<div>{{selectedBook.name}}</div>
<span><img src="/media/{{selectedBook.picture}}" class="bookimg"></img></span>


<span>Summary:{{selectedBook.summary}}<span>

</div>
<div>


</div>
<div class="Author" >Author:<a href="/Books/{{authors.id}}">{{selectedBook.author_id}}</a></div>
{% for cat in bookCategory %}
<div class="category" >Category:<a href="/Books/Books/category/{{cat.id}}">{{cat}}</a></div>

</div>
{% endfor %}
<div class="dropdown">
<button onclick="DropdownClick()" class="dropbtn">Want to Read</button>
<div id="DropDownContent">
<a href="#">Read</a>
<a href="#">Currently Read</a>
<a href="#">Want to Read</a>
</div>
</div>
<div class="stars">
  <form action="">

    <input class="star star-5" id="star-5" type="radio" name="star"/>

    <label class="star star-5" for="star-5"></label>

    <input class="star star-4" id="star-4" type="radio" name="star"/>

    <label class="star star-4" for="star-4"></label>

    <input class="star star-3" id="star-3" type="radio" name="star"/>

    <label class="star star-3" for="star-3"></label>

    <input class="star star-2" id="star-2" type="radio" name="star"/>
    <label class="star star-2" for="star-2"></label>

    <input class="star star-1" id="star-1" type="radio" name="star"/>

    <label class="star star-1" for="star-1"></label>

  </form>

</div>
<script src="{% static "/js/Droplist.js" %}"></script>
{% endblock %}


